html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #E0E0E2;

    min-height: 100%;
    padding-bottom: 250px; 
    position: relative;
}
.container-fluid {
    padding: 0 10px 0 10px;
    max-width: 1500px; 
}

@font-face {
    font-family: panton;
    src: url('fonts/panton/Panton-LightCaps.otf');
}

@font-face {
    font-family: panton;
    font-weight: bold;
    src: url('fonts/panton/Panton-BlackCaps.otf');
}

@font-face {
    font-family: nexa;
    src: url('fonts/nexa/NexaLight.otf');
}

@font-face {
    font-family: nexa;
    font-weight: bold;
    src: url('fonts/nexa/NexaBold.otf');
}

@font-face {
    font-family: hero;
    src: url('fonts/hero/HeroLight.otf');
}

@font-face {
    font-family: hero;
    font-weight: bold;
    src: url('fonts/hero/Hero.otf');
}

.highlight {
    font-weight: bold;
}

/* Remove the navbar's default margin-bottom and rounded borders */

#over-rides .navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-inverse {
    background-color: #292F36;
    border-bottom: #8d011b 6px solid;
}
#over-rides .navbar-brand, #over-rides .nav a {
    color: #ffffff;
}

#over-rides .nav a {
    font-size: 18px;
}
#over-rides .navbar-brand {
    font-family: nexa;
    font-size: 35px;
}

/*----Profile------*/

.profile {
    margin: 20px 0;
}
.headshot {
    width: 350px;
    height: 350px;
}

.profile h1 {
    font-size: 40px;
    font-weight: 800;
    color: #000000;
    margin: 35px 0 15px 0;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.profile .line {
    background: #8d011b;
    width: 70%;
    margin: 0 auto;
    padding: 1px;
}
.profile h2 {
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    margin: 15px 0 45px 0;
}
.profile p {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin: 15px 0 45px 0;
}
.profile p .float-right {
    margin-left: 310px;
}

/*-------Skills---------*/


#skills {
    background: #8d011b;
    color: #ffffff;
}
#skills img {
    width: 75px;
}

/*-------Footer--------*/

#footer {
    background-color: #292F36;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 0;

    position:absolute;
    height: 250px;
    bottom:0;
}

#footer h1{
    font-family: nexa;
    font-size: 35px;
}

#footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
}

#footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:-5;
}

#footer p a{
    color:  #5383d3;
    text-decoration: none;
}

.boxed {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    max-width: 800px;
    border: 6px solid #8d011b;
    border-radius: 10px; 
}

.boxed p{
    font-size: 18px;
}

.boxed img{
    padding-bottom: 20px;
}

.boxed video{
    padding-bottom: 20px;
    width: 100%;
}



.tableOfContents {
    background: #B3B3B3; 
    font-size: 18px; 
    max-width: 350px; 
    border-radius: 15px; 
    padding: 20px 20px 10px 0px;
}

.tableOfContents a{
    color: #8d011b;
    font: bold 16px sans-serif;
    text-decoration: none;
}